<ion-content class="feedsViewCls" scroll="false">
	
	<ion-scroll direction="y" style="height: 100%;">
	
	<div class="timelinePanelCls">
	
		<div class="welcome_card_cls" ng-if="show_welcome_msg==true">
	   		<div class="welcome_greet">Hi!! {{user_data_obj.first_name}}</div>
	   		<div class="welcome_msg">
	   			<div class="welcome_msg_1">Thanks for joining Neighborhood..</div>
	   			<div class="welcome_msg_2">We are looking forward to help you explore your locality, meet new friends and be connected with people around you. To see what others are doing around you, please join a neighborhood...</div>
	   			<button ng-click="show_search_panel()">Join neighborhood</button>
	   		</div>
	   </div>
  		   
		<ul class="tab-nav tn-justified" tabindex="1"  ng-if="show_welcome_msg==false">
   		   <li ng-click="change_post_feed_box_format('Feeds')" ng-class="post_category=='Feeds' ? 'active waves-effect' : 'waves-effect'"><span>Post feed</span></li> 
   		   <li ng-click="change_post_feed_box_format('Issue')" ng-class="post_category=='Issue' ? 'active waves-effect' : 'waves-effect'"><span>Raise society issue</span></li> 
   		   <li ng-click="change_post_feed_box_format('Question')" ng-class="post_category=='Question' ? 'active waves-effect' : 'waves-effect'"><span>Ask a question</span></li> 
   		   <li ng-click="change_post_feed_box_format('Info')" ng-class="post_category=='Info' ? 'active waves-effect' : 'waves-effect'"><span>Provide information</span></li>
   		   </ul>
  		   
  		   
  		   
  		   
  		   
  		   <div class="quick-update" ng-if="show_welcome_msg==false">
  		   			<textarea rows="1" class="form-control title" ng-if="post_category=='Issue'" placeholder="Write a topic..." ng-model="feed_title" ng-change="update_feed_title(feed_title)"></textarea>
				<textarea rows="6" class="form-control desc" placeholder="Type Something..." ng-model="feed_desc" ng-change="update_feed_desc(feed_desc)"></textarea>
				<div class="qu-buttons">
					<div class="pull-left">
						<a href="#"><i class="fa fa-paperclip"></i></a> &nbsp;
						<a href="#"><i class="fa fa-camera"></i></a> &nbsp;
						<a href="#"><i class="fa fa-film"></i></a>
					</div>
					<div class="pull-right">
						<button class="btn btn-info btn-xs" ng-click="submit_feed()">Submit</button>  <button class="btn btn-default btn-xs">Reset</button>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
  		   
  		   <div class="timeline" id="timelinePostId" ng-if="show_welcome_msg==false">
  		   		
  		   		<div ng-repeat="data in timeline_data track by $index">
  		   			<div class="tl-header" ng-if="get_time_header(data.time,data,$index)">{{data.time_heading}}</div>
  		   			<!-- <div class="tl-header" ng-if="get_time_header('Today',data.time)">Today</div>
  		   			<div class="tl-header" ng-if="get_time_header('Yesterday',data.time)">Yesterday</div>
  		   			<div class="tl-header" ng-if="get_time_header('Previous',data.time)">Previous</div> -->
  		   			<div class="tl-entry">
						<div class="tl-time">{{data.time_label}}</div>	<!-- post time -->
						<div class="tl-icon bg-success">
							<img ng-src="{{data.userPic}}" alt="">		<!-- post user pic -->
						</div>
						<div class="panel tl-body">
							<h4 class="text-warning" ng-if="data.title!=''">{{data.title}}</h4>	<!-- post title -->
							{{data.description}}
							
							<div class="tl-wide text-center" ng-if="data.imageUrl!=''" style="padding: 10px;margin-top:15px;margin-bottom: 15px;background: #f1f1f1;">	 <!-- post image -->
								<img ng-src="{{data.imageUrl}}" alt="" style="max-height: 150px;max-width: 100%;">
							</div>
							
							<i class="text-muted text-sm" ng-if="data.imageComment!=''">{{data.imageComment}}</i>	 	<!-- post image comments -->
							
							<!-- comments section -->
							<div ng-if="data.commentsArr && data.commentsArr.length>0" style="margin-top: 10px;" class="text-sm">
								<img ng-src="{{data.commentsArr[0].user_pic}}" alt="" class="rounded" style=" width: 20px;height: 20px;margin-top: -2px;">&nbsp;&nbsp;  	<!-- commented user pic -->
								<a>{{data.commentsArr[0].user_name}}</a> commented {{data.commentsArr[0].time}}			<!-- commented user time and name -->
								<div class="well well-sm" style="margin: 6px 0 0 0;">{{data.commentsArr[0].commentText}}  <!-- actual comment -->
								</div>
							</div>
							
							
							<!-- comment input box -->
							<div class="comment_input_section">
								<textarea class="form-control auto-size" placeholder="Write a comment..."></textarea>
								<button class="m-t-15 btn btn-primary btn-sm waves-effect">Post</button>
							</div>
							
						</div>
					</div>
		   		</div>
  		   </div>
	</div>

	</ion-scroll>
</ion-content>