<?xml version="1.0" encoding="UTF-8"?>
<!-- <?xml version="1.0" encoding="UTF-8"?> -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Neighborhood</display-name>
  
  
   
   <servlet>
    <servlet-name>RequestServlet</servlet-name>
    <servlet-class>com.services.neighbour.controller.RequestServlet</servlet-class>
  </servlet>
   <servlet-mapping>
    <servlet-name>RequestServlet</servlet-name>
    <url-pattern>/requestServlet</url-pattern>
  </servlet-mapping>
   
   <resource-ref>   
           <description>DB Connection</description>   
          <res-ref-name>jdbc/localitydb</res-ref-name>   
          <res-type>javax.sql.DataSource</res-type>   
          <res-auth>Container</res-auth>   
  </resource-ref>  
</web-app>
