<ion-content class="neighborhood_view_cls" scroll="false">
	
	<ion-scroll direction="y" style="height: 100%;">
	
		<div class="neighborhood_view_panel_cls">
			<div class="cover_photo_cls">
                          <div class="profile_pic_cls">
                              <img ng-src="{{locality_data.profile_pic}}">
                          </div>

                          <div class="profile_info_cls">
                              {{locality_data.name}}
                          </div>
                      </div>
                      	
                      <div class="card">
                      		<button class="card_button" ng-if="show_join_neighborhood==true" ng-click="">Join Neighborhood</button>
                      
                          <div class="card-header">
                              <h2>About {{locality_data.name}}</h2>
                          </div>
                          
                          <div class="card-body">
                              {{locality_data.description}}
                          </div>
                      </div>
                          
                      <div class="card card_half">
                       <div class="card-header">
                           <h2>At A Glance</h2>
                       </div>
                       
                       <div class="card-body">
                           <ul>
                           <li ng-repeat="data in locality_overview">{{data}}</li>
                       	</ul>
                       </div>
                      </div>
                      
                      <div class="card card_half">
                      <div class="card-header">
                          <h2>Project Specifications</h2>
                      </div>
                      
                      <div class="card-body">
                          <ul>
                          <li ng-repeat="data in locality_specifications">{{data}}</li>
                      	</ul>
                      </div>
                  </div>
                      
                  <div class="card">
                   <div class="card-header">
                       <h2>Nearby</h2>
                   </div>
                   
                   <div class="card-body">
                   	<div class="panel-group" id="accordion">
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<span>School</span>
							</h4>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in">
							<div class="panel-body" ng-repeat="data in school_data">
								<div class="text-content">
									<div>{{data.name}}</div>
									<span class="stars">{{data.rating}}</span> {{data.website}}<br>
									{{data.formatted_address.icon}}
								</div>
								<div class="image-content">
									<img ng-src="{{data.icon}}">
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<span>Hospital</span>
							</h4>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse in">
							<div class="panel-body" ng-repeat="data in hospital_data">
								<div class="text-content">
									<div>{{data.name}}</div>
									<span class="stars">{{data.rating}}</span> {{data.website}}<br>
									{{data.formatted_address.icon}}
								</div>
								<div class="image-content">
									<img ng-src="{{data.icon}}">
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading">
							<h4 class="panel-title">
								<span>ATM</span>
							</h4>
						</div>
						<div id="collapseThree" class="panel-collapse collapse in">
							<div class="panel-body" ng-repeat="data in ATM_data">
								<div class="text-content">
									<div>{{data.name}}</div>
									<span class="stars">{{data.rating}}</span> {{data.website}}<br>
									{{data.formatted_address.icon}}
								</div>
								<div class="image-content">
									<img ng-src="{{data.icon}}">
								</div>
							</div>
						</div>
					</div>
				</div>
                   </div>
                  <div>
		</div>
	
	</ion-scroll>
	
</ion-content>